# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
.env.local
client/.env
client/.env.local
server/.env

# Production Builds
dist/
client/dist/

# IDE / System files
.vscode/
.idea/
.DS_Store
Thumbs.db